<ul class="network-icon" aria-hidden="true">
  {{ range .Params.social }}
  {{ $pack := or .icon_pack "fas" }}
  {{ $pack_prefix := $pack }}
  {{ if in (slice "fab" "fas" "far" "fal") $pack }}
  {{ $pack_prefix = "fa" }}
  {{ end }}
  {{ $link := .link }}
  {{ $scheme := (urls.Parse $link).Scheme }}
  {{ $target := "target=\"_blank\" rel=\"noopener\"" }}
  {{ if not $scheme }}
  {{ $link = .link | relLangURL }}
  {{ end }}
  <li>
    <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
      <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}">hurr</i>
    </a>
  </li>
  {{end}}
</ul>
